.StatMain {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/statwallpaper.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.statContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.statCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: aqua;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
